menu "App configuration"

menu "I2C (LCD)"
config APP_I2C_SDA
    int "I2C SDA"
    range 0 48
    default 6 if IDF_TARGET_ESP32C6
    default 8 if IDF_TARGET_ESP32C3
    default 21 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S3
    default 33 if IDF_TARGET_ESP32S2
config APP_I2C_SCL
    int "I2C SCL"
    range 0 48
    default 7 if IDF_TARGET_ESP32C6
    default 9 if IDF_TARGET_ESP32C3
    default 22 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S3
    default 35 if IDF_TARGET_ESP32S2
config APP_I2C_HZ
    int "I2C Hz"
    default 400000
config APP_I2C_PULLUP
    bool "Włącz wewnętrzny pull-up I2C (zalecane i tak zewnętrzne 4.7k)"
    default y
endmenu

menu "LCD DFR0464 (RGB)"
config APP_LCD_ADDR
    hex "Adres LCD (7-bit)"
    default 0x3E
config APP_RGB_ADDR
    hex "Adres RGB (7-bit)"
    default 0x2D
config APP_LCD_TEXT0
    string "Wiersz 0"
    default "ESP32 Event LCD"
config APP_LCD_TEXT1
    string "Wiersz 1"
    default "RGB: 16x2 DFR0464"
config APP_RGB_R
    int "R (0..255)"
    range 0 255
    default 16
config APP_RGB_G
    int "G (0..255)"
    range 0 255
    default 32
config APP_RGB_B
    int "B (0..255)"
    range 0 255
    default 64
endmenu

endmenu
