# --- ESP32-C6 DevKitC-1: flash size AUTO-DETECT ---

# (informacyjnie – nie muszą być w defaults)
# CONFIG_ESPTOOLPY_FLASHSIZE_1MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_2MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_4MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_8MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_16MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_32MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_64MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_128MB is not set

# Wykrywanie rozmiaru przy flashowaniu (esptool --flash_size detect)
CONFIG_ESPTOOLPY_FLASHSIZE="detect"

# Tryb/frek. flash
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHFREQ="80m"

# Koryguj nagłówek obrazu na wykryty rozmiar flash
CONFIG_ESPTOOLPY_HEADER_FLASHSIZE_UPDATE=y

# I2C na C6
CONFIG_APP_I2C_SDA=10
CONFIG_APP_I2C_SCL=11
