BasedOnStyle: Google
Language: Cpp
Standard: Cpp11
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: true
IncludeBlocks: Regroup
BinPackParameters: false
BinPackArguments: false
BreakBeforeBraces: Allman
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: Align
